.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $color-dark-blue;

  &__image {
    height: 60rem;
    width: 80%;
    margin: 0 auto;
    padding: 7rem 0;
    grid-column: 1/2;
  }

  &__heading {
    grid-column: 2/-1;
    background-color: $color-light-ivory;

    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
