.header {
  &__hero {
    position: relative;

    height: 60vh;
    width: 100%;
  }

  &__title {
    text-align: center;
    width: 100%;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
}
