.navbar {
  background-color: $color-dark-blue;

  display: flex;
  justify-content: center;

  &__items {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__item {
    text-decoration: none;
    cursor: pointer;
    color: $color-light-ivory;
    font-size: 2rem;

    &:not(:last-child) {
      padding-right: 2rem;
    }

    &:hover {
      color: white;
    }
  }
}
