.text-primary {
  font-size: 10rem;
  color: $color-light-ivory;
}

.text-secondary {
  color: $color-dark-blue;
  font-size: 8rem;
  padding-bottom: 2rem;
}

.text-tertiary {
  font-size: 3rem;
  color: $color-light-ivory;
  text-transform: uppercase;

  &-dark {
    color: $color-dark-blue;
    font-size: 2rem;
  }
}

hr {
  height: 0.5rem;
  background-color: black;
}
