.text-primary {
  font-size: 10rem;
  color: $color-light-ivory;
}

.text-secondary {
  color: black;
  font-size: 8rem;
  padding-bottom: 2rem;
  padding-right: 5rem;
}

.text-tertiary {
  font-size: 3rem;
  color: $color-light-ivory;
  text-transform: uppercase;

  &-dark {
    color: black;
    font-size: 2rem;
    border-top: 5px solid black;
    padding-top: 3rem;
  }
}
